
include ../utils/utils.pug


- var content = ['Meet Themelio', 'The Themelio team is a group of engineers, PhDs, entrepreneurs, and cryptographers dedicated to the ideals of decentralization and blockchain technology.', 'Eric Dong', 'Meade Kincke', 'Jay Butera', 'Shane Mendez', 'Marco Serrano', 'Founder, CEO', 'Head of DevOps', 'Software Engineer', 'Interface Engineer', 'Smart Contract Developer', 'Eric is a computer security researcher and entrepreneur. Growing up between China and Canada, he is passionate about technology that enables a more open, decentralized, and secure Internet. He is the founder of Themelio, a new public blockchain designed to achieve unprecedented security, stability, and immutability. He also created and single-handedly runs Geph, a VPN project focused on defeating censorship in regions like China and Iran.', 'With over 15 years of professional experience, Meade has worked on everything from global infrastructure to the Rust compiler. He is self taught with an insatiable thirst for knowledge and a huge proponent of open source projects. As Head Of DevOps for Themelio, Meade directs the development and implementation of a global network, finds show-stopping bugs, and optimises safety and performance.', 'Jay is a free software engineer with a focus on compiler design at Themelio. Previously he worked as an independent consultant on projects in the Ethereum and Polkadot ecosystems, concerning zero-knowledge NFTs and composable graph databases. He is interested in developing tools which empower not enslave.' , ' Shane Bio goes here', 'Marco Bio Goes here', 'Get in Touch', 'Work at Themelio', 'Themelio is always looking for the brightest minds in cryptography, security, engineering, and protocol development. Contact us here.', 'Press and Media', "For any media or press requests, please contact", 'media@"@"themelio.org']
- var t = listGenerator(content)
+main
    +section(false)
        h1= t.next()
        p= t.next()

    +section(true)
        - let names = t.next(5)
        - let titles = t.next(5)
        - let bodies = t.next(5)
        each _,i in names
            h3
                | #{names[i]}
                h4= titles[i]
            p=bodies[i]

    +section(false)
        h3= t.next()
        .mb-3 
            h4= t.next()
            p= t.next()
        .mb-3
            h4= t.next()
            p= t.next()
        a(href="") media@"@"themelio.org

